/* Dành cho máy tính bảng */
@media all and (min-width:748px) and (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }
.header__contain{
        display: flex;
        align-items: center;
        justify-content: space-around
}
.modal{
    display:block;
}
.header__nav{
    display: none;
}
.menu-mobile{
    display:block;
}
.menu-mobile i {
    font-size: 3rem;
    color: var(--text-white);
}
.header__menu{
    display:block;
}
.header__nav-mobile{
    background: var( --outstanding-color);
    color:white;
    width:40%;
    height: 100vh;
    position: relative;
    padding: 20px 10px;
}
.close__btn-mobile i{
    font-size: 1.5rem;
    position:absolute;
    top: 0;
    right: 0;
}
.header__logo-mobile{
    width: 150px;
    margin: 20px 10px;
}
.logo__svg--mobile{
    width: 100%;
}
.header__menu-item-mobile{
    list-style: none;
    padding: 0 18px;
    position: relative;
}
}
/* Dành cho điện thoại */
@media all and (max-width: 740px) {


}